// Colors

// Base
$white: #ffffff;
$black: #000000;

// Grey
$grey-300: #c5c6ce;
$grey-200: #d8d8d8;

// Navy
$navy-950: #00001a;
$navy-600: #5e607a;

// Gold
$gold-400: #e9aa52;

// Red
$red-500: #f15d51;
