// Typography
// Font: Inter

@mixin text-preset-1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: 0;
}

@mixin text-preset-2 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
}

@mixin text-preset-4 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

@mixin text-preset-5 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

@mixin text-preset-6 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0;
}

@mixin text-preset-7 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4.38px;
}
