@use 'globals';
@use 'components';
@use 'colors';
@use 'fonts';

#hamburger-menu {
  width: 40px;
  height: 17px;
}

main {
  min-height: 100vh;
}

#navigation-menu.menu-component {
  position: fixed;
  min-height: 100vh;
  top: 0%;
  right: 0%;
  background-color: colors.$white;
  min-width: 75%;
  box-sizing: border-box;

  .menu-content {
    .items {
      @include fonts.text-preset-5;
      font-weight: 400;
    }
  }
}

#hero-section {
  display: flex;
  flex-direction: column;
  gap: var(--sp-300);
  margin-top: var(--sp-400);

  picture img {
    max-width: 100%;
  }

  .heading {
    @include fonts.text-preset-2;
    color: colors.$navy-950;
  }

  .body {
    @include fonts.text-preset-6;
    color: colors.$navy-600;
  }

  button {
    @include fonts.text-preset-7;
    color: colors.$navy-950;
    background-color: colors.$red-500;

    align-self: flex-start;
  }
}

#article-card {
  background-color: colors.$navy-950;
  margin-top: var(--sp-800);

  > h1 {
    @include fonts.text-preset-3;
    color: colors.$gold-400;
  }

  .article-item {
    h2 {
      color: colors.$white;
      @include fonts.text-preset-4;
    }

    p {
      @include fonts.text-preset-6;
      color: colors.$grey-300;
    }
  }
}

#article-list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-400);
  margin-top: var(--sp-800);

  .article-component {
    .text-content {
      .number {
        @include fonts.text-preset-3;
        color: colors.$red-500;
      }

      .heading {
        @include fonts.text-preset-5;
        color: colors.$navy-950;
      }

      .body {
        @include fonts.text-preset-6;
        color: colors.$navy-600;
      }
    }
  }
}
