@use 'globals';
@use 'components';
@use 'colors';
@use 'fonts';

#hamburger-menu {
  width: 40px;
  height: 17px;

  border: none;

}

main {
  min-height: 100vh;
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }
  main {
    max-width: 80%;
  }
}

#navigation-menu.menu-component {
  position: fixed;
  min-height: 100vh;
  top: 0%;
  right: -75%;
  background-color: colors.$white;
  min-width: 75%;
  box-sizing: border-box;
  transition: right 0.3s ease;
  visibility: hidden;

  &.open {
    right: 0%;
  }

  .menu-content {
    button.heading {
      border: none;
    }

    .items {
      @include fonts.text-preset-5;
      font-weight: 400;
    }
  }
}

#hero-section {
  display: flex;
  flex-direction: column;
  gap: var(--sp-300);
  margin-top: var(--sp-400);

  picture img {
    max-width: 100%;
  }

  .heading {
    @include fonts.text-preset-2;
    color: colors.$navy-950;
  }

  .body {
    @include fonts.text-preset-6;
    color: colors.$navy-600;
  }

  button {
    @include fonts.text-preset-7;
    color: colors.$navy-950;
    background-color: colors.$red-500;

    align-self: flex-start;

    &:hover, &:focus {
      color: colors.$white;
      background-color: colors.$navy-950;
      cursor: pointer;
    }
  }
}

#article-card {
  background-color: colors.$navy-950;
  margin-top: var(--sp-800);

  > .card-heading {
    @include fonts.text-preset-3;
    color: colors.$gold-400;
  }

  .article-item {
    a {
      color: colors.$white;
      @include fonts.text-preset-4;

      &:hover, &:focus {
        color: colors.$gold-400;
        cursor: pointer;
      }
    }

    p {
      @include fonts.text-preset-6;
      color: colors.$grey-300;
    }
  }
}

#article-list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-400);
  margin-top: var(--sp-800);

  .article-component {
    .text-content {
      .number {
        @include fonts.text-preset-3;
        color: colors.$red-500;
      }

      .heading {
        @include fonts.text-preset-5;
        color: colors.$navy-950;

        &:hover, &:focus {
          color: colors.$red-500;
          cursor: pointer;
        }
      }

      .body {
        @include fonts.text-preset-6;
        color: colors.$navy-600;
      }
    }
  }
}

#links-menu {
  display: none;
  @include fonts.text-preset-6;
  color: colors.$navy-600;

  .nav-links-component > *:hover {
    color: colors.$red-500;
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: var(--sp-800);
  }

  #links-menu {
    display: block;
  }

  #navigation-menu, #hamburger-menu {
    display: none;
  }

  #hero-region {
    display: flex;
    gap: var(--sp-400);
    margin-top: var(--sp-800);

    #hero-section {
      display: flex;
      flex-direction: column;
      gap: var(--sp-300);
      margin-top: 0;


      .hero-body {
        display: flex;
        gap: var(--sp-400);

        .heading {
          @include fonts.text-preset-1;
          color: colors.$navy-950;
        }

        .hero-text {
          display: flex;
          flex-direction: column;
          gap: var(--sp-400);
        }

      }

    }

    #article-card {
      margin-top: 0;
    }

  }

  #article-list {
    flex-direction: row;
    gap: var(--sp-500);
  }

}
