@use 'globals';
@use 'components';
@use 'colors';
@use 'fonts';

#hamburger-menu {
  width: 40px;
  height: 17px;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--sp-400);
}

#navigation-menu.menu-component {
  position: fixed;
  min-height: 100vh;
  top: 0%;
  right: 0%;
  background-color: colors.$white;
  min-width: 75%;
  box-sizing: border-box;

  .menu-content {
    .items {
      @include fonts.text-preset-5;
      font-weight: 400;
    }
  }
}

#hero-section {
  display: flex;
  flex-direction: column;
  gap: var(--sp-300);

  picture img {
    max-width: 100%;
  }

  .heading {
    @include fonts.text-preset-2;
    color: colors.$navy-950;
  }

  .body {
    @include fonts.text-preset-6;
    color: colors.$navy-600;
  }

  button {
    @include fonts.text-preset-7;
    color: colors.$navy-950;
    background-color: colors.$red-500;

    align-self: flex-start;
  }
}
