@use '../spacings';

.menu-component {
  padding: 27px 36px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .menu-content {
    display: flex;
    flex-direction: column;
    gap: 88px;
    min-width: 196px;

    .heading {
      align-self: flex-end;
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: var(--sp-300);
    }
  }
}
